[user]
	name = Kevin Beam
  email = 14251936+kbeamnsidc@users.noreply.github.com
[color]
	ui = auto
[apply]
	whitespace = nowarn
[core]
	autocrlf = input
	safecrlf = false
[alias]
        st = status
        sts = status --short
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[push]
	default = current
        followTags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
[interactive]
    diffFilter = delta --color-only
[include]
    path = ~/tools/delta/themes.gitconfig
[delta]
   features = eigenbeam
